@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg:                   white;
$font-family-sans-serif:    'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-inverse-bg:         #2c3e50;
$navbar-height:             50px;
$navbar-inverse-link-color: white;
$brand-primary:             #f39c12;
$jumbotron-bg:              #bdc3c7;

@import 'masonry/transitions';
@import 'bootstrap-sprockets';
@import 'bootstrap';

.center {
     text-align: center;
}

.navbar-brand {
     font-weight: bold;
}

#pints {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}


.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}
